<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <a style="text-decoration:none" href="{{base_url}}/add_project/">Add Project</a>
    <h1> Student Projects</h1>
    {% for project in Student_projects %}
    <div>
        <img src="{{project.image.url}}" alt="">
        {{project.title}}
        (<a href="{{project.link}}">{{project.link}}</a>)
        {{project.description}}
        {{project.approved}}
    </div>
    {% endfor %}
    <h1> Testbeds</h1>
    {% for project in Test_beds %}
        <div>
            <img src="{{project.image.url}}" alt="">
            {{project.title}}
            (<a href="{{project.link}}">{{project.link}}</a>)
            {{project.description}}
            {{project.approved}}
        </div>
    {% endfor %}
</body>
</html>