<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IEC Standard</title>
  <meta name="author" content="David Grzyb">
  <meta name="description" content="">

  <!-- Tailwind -->
  <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

    .font-family-karla {
      font-family: karla;
    }

    .bg-sidebar {
      background: #262626;
    }

    .cta-btn {
      color: #3d68ff;
    }

    .upgrade-btn {
      background: #1947ee;
    }

    .upgrade-btn:hover {
      background: #0038fd;
    }

    .active-nav-link {
      background: #1a1a1a;
      border-left: 3px solid red;
      margin-left: 14px;
    }

    .nav-item:hover {
      background: #1a1a1a;
      border-left: 3px solid red;
      margin-left: 14px;
    }

    .nav-item {
      margin-left: 14px;
    }

    .account-link:hover {
      background: #3d68ff;
    }


    .modal,
    .modal-sign,
    .modal-forget {
      transition: opacity 0.25s ease;
    }

    body.modal-active,
    body.modal-active-sign,
    body.modal-active-forget {
      overflow-x: hidden;
      overflow-y: visible !important;
    }

    .modal-container {
      border-color: #ff4d4d;
    }

    .loginButton {
      background-color: #ff4d4d;
    }

    .loginBtn {
      color: #ff4d4d;
      cursor: pointer;
    }

    .main-div,
    header,
    .background-gray {
      background-color: #F3F3F3;
    }
  </style>
</head>

<body onload="hightlightActiveRoute()" class="bg-gray-100 font-family-karla flex">

  <aside class="relative bg-sidebar h-screen w-1/4 hidden sm:block shadow-xl">
    <div class="p-6">
      <a href="{{BASE_URL}}/" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">IEC 61499</a>
      <div class="text-white text-xs">The new standard in automation</div class="">

    </div>
    <nav class="text-white text-base font-semibold pt-3">
      <a href="{{BASE_URL}}/" class="pageRoutes flex items-center text-white py-4 pl-6 nav-item">
        <i class="fas fa-home mr-3"></i>
        HOME
      </a>
      <a href="{{BASE_URL}}/news/"
        class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
        <i class="fas fa-newspaper mr-3"></i>
        NEWS
      </a>
      <a href="{{BASE_URL}}/projects/"
        class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
        <i class="fas fa-tasks mr-3"></i>
        PROJECTS
      </a>
      <a href="{{BASE_URL}}/publications/"
        class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
        <i class="fas fa-volume-up mr-3"></i>
        PUBLICATIONS
      </a>
      <a href="{{BASE_URL}}/tools/"
        class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
        <i class="fas fa-cog mr-3"></i>
        TOOLS
      </a>
      <a href="{{BASE_URL}}/resources/"
        class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
        <i class="fas fa-link mr-3"></i>
        RESOURCES
      </a>
      <a href="{{BASE_URL}}/imprint/"
        class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
        <i class="fas fa-copyright mr-3"></i>
        IMPRINT
      </a>
    </nav>

  </aside>

  <div class="w-full flex flex-col h-screen overflow-y-hidden main-div">
    <!-- Desktop Header -->
    <header class="w-full flex items-center py-4 px-6 hidden sm:flex header">
      <div class="w-1/2 text-gray-700 font-bold text-xl">RESOURCES
      </div>
      {% if user.is_authenticated %}
      <form method="post" action="{{BASE_URL}}/logout/">
        {% csrf_token %}
        <div style="right: 0;
        position: absolute;
        top: 24px;
        bottom: 0;" class="mr-6">
          <span class="mr-4">Hello {{user.name}}</span>
          <button type="submit">Logout</button>
        </div>
      </form>
      {% else %}
      <div class="w-1/2 flex justify-end">
        <button class="mr-6 modal-open">Login</button>
        <button class="modal-open-sign">Signup</button>
      </div>
      {% endif %}

    </header>

    <!-- Mobile Header & Nav -->
    <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
      <div class="flex items-center justify-between">
        <a href="{{BASE_URL}}/" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
        <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
          <i x-show="!isOpen" class="fas fa-bars"></i>
          <i x-show="isOpen" class="fas fa-times"></i>
        </button>
      </div>

      <!-- Dropdown Nav -->
      <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
        <a href="{{BASE_URL}}/" class="flex items-center pageRoutes text-white py-4 pl-6 nav-item">
          <i class="fas fa-home mr-3"></i>
          HOME
        </a>
        <a href="{{BASE_URL}}/news/"
          class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
          <i class="fas fa-newspaper mr-3"></i>
          NEWS
        </a>
        <a href="{{BASE_URL}}/projects/"
          class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
          <i class="fas fa-tasks mr-3"></i>
          PROJECTS
        </a>
        <a href="{{BASE_URL}}/publications/"
          class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
          <i class="fas fa-volume-up mr-3"></i>
          PUBLICATIONS
        </a>
        <a href="{{BASE_URL}}/tools/"
          class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
          <i class="fas fa-cog mr-3"></i>
          TOOLS
        </a>
        <a href="{{BASE_URL}}/resources/"
          class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
          <i class="fas fa-link mr-3"></i>
          RESOURCES
        </a>
        <a href="{{BASE_URL}}/imprint/"
          class="pageRoutes flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
          <i class="fas fa-copyright mr-3"></i>
          IMPRINT
        </a>
      </nav>
    </header>


    <div class="w-full overflow-x-hidden border-t flex flex-col">

      <!-- <div class="w-full flex-grow px-6 bg-white ">
        <div class="w-1/2 flex-grow p-12 ">
          <div class="flex w-3/4 mx-auto h-64">
            <div class="mx-5 my-3 text-sm">
              <div class="text-black font-black text-xl ">
                Lorem ipsum dolor sit amet, consectetur
              </div>
              <p class="text-sm text-gray-700">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took
                a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>
        <div class="w-1/2">
        <img class="w-1/2 object-fill h-48" src="./../media/bg-signup.png">
        </div>
      </div> -->

      <div class="w-full">
        <div class="p-4 bg-white border border-gray-200 shadow-md">
          <div class="flex flex-wrap">

            <div class="flex lg:w-1/2 mx-auto lg:h-64 lg:p-12 sm:w-auto">
              <div class="mx-5 my-5 text-sm">
                <div class="text-black font-black text-xl ">
                  Lorem ipsum dolor sit amet, consectetur
                </div>
                <p class="text-sm text-gray-700">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                  took
                  a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>

            <div class="lg:w-1/2 sm:w-auto">
              <img class="h-full w-full object-contain" src="./../media/bg-signup.png">
            </div>

          </div>
        </div>
      </div>



      <main class="w-full flex-grow p-6 border-b border-gray-400">
        <p class="text-2xl text-gray-700 mb-4">Compliant products and related services</p>

        <p class="inline-block"><span class=" sm:w-auto text-md text-gray-700 pb-4 flex items-center">Flexbridge:</span>
        </p>
        <p class="inline-block"> <a class="sm:w-auto text-blue-500 ml-1 " href="https://www.flexbridge.se">IceBlock nano
            PLC hardware</a>
        </p>
        &nbsp;and
        <p class="inline-block">
          <a class="sm:w-auto text-blue-500 ml-1 " href="https://training.flexbridge.se">Training on IEC
            61499</a></p>




        <p class="text-2xl text-gray-700 mb-2">Research</p>
        <ul class="list-disc text-gray-700 ml-4 mt-3 text-sm">
          <li class="mb-1 text-yellow-500"><a class="text-blue-500"
              href="http://daedalus.iec61499.eu/index.php/en/news/14-the-european-competence-network-for-iec-61499">European
              competence centre for IEC 61499</a></li>

          <li class="mb-1 text-yellow-500"><a class="text-blue-500" href="https://www.aalto.fi/en/futurefactory">Aalto
              University</a>,
            <p class="text-gray-700 inline-block">Finland</p>
          </li>
          <li class="mb-1 text-yellow-500"><a class="text-blue-500"
              href="http://www.ltu.se/research/subjects/Kommunikations-och-berakningssystem?l=en">Luleå
              Tekniska Universitet</a>, <p class="text-gray-700 inline-block">Sweden</p><br>
          </li>

          <li class="mb-1 text-yellow-500"><a class="text-blue-500" target="_blank"
              href="http://www.vyatkin.org/halle/">Martin Luther
              University of
              Halle-Wittenberg,
              Automation Technology Lab (till 2014)</a></li>

          <li class="mb-1 text-yellow-500"><a class="text-blue-500" target="_blank"
              href="http://www.vyatkin.org/mitra/mitra_lab.html">The University
              of Auckland,
              Department of Electrical and Computer Engineering (till 2013)</a></li>

          <li class="mb-1 text-yellow-500">
            <p class="text-gray-700">TU Vienna, Odo Struger Lab (till 2015)</p>
          </li>
        </ul>
      </main>


      <main class="w-full flex-grow p-6 border-b border-gray-400">
        <p class="text-2xl text-gray-700 mb-4">Books</p>


        <div class="lg:w-4/5 lg:mx-20 my-8 sm:w-auto">
          <div class="p-4 bg-white border border-gray-200 shadow-md">
            <div class="flex flex-wrap">
              <div class="lg:w-1/5 sm:w-auto">
                <img class="h-48" src=".././media/IEC-Function-Blocks-by-Vyat.gif">
              </div>
              <div class="lg:w-3/4 sm:w-auto">
                <p class="text-xl text-gray-700 mb-4">Valeriy Vyatkin</p>
                <p class="text-sm text-gray-700 mb-4">IEC 61499 Function Blocks for Embedded and Distributed Control
                  Systems <br>Design,<br>
                  Instrumentation Society of America, USA,<br>
                  2007, 2011 (second edition), 2015 (third edition in <a class="text-blue-500">German</a> and in <a
                    class="text-blue-500">English</a> ).</p>
                <p class="text-gray-700 text-sm border-l-2 border-yellow-400 pl-2 mb-4">Order English
                  version
                  from
                  <a href="https://www.isa.org/store/products/product-detail/?productId=115964"
                    class="text-blue-500">ISA</a> <a
                    href="https://www.isa.org/store/iec-61499-function-blocks-for-embedded-and-distributed-control-systems-design,-third-edition/44072595"
                    class="text-blue-500">bookstore</a>
                  <a class="text-blue-500 text-md"
                    href="http://www.vyatkin.org/book/Pages%20from%20IEC%2061499%20Vyatkin%20Second%20Edition.pdf">PREVIEW
                    OF SAMPLE PAGES</a>
                </p>
                <p class="text-gray-700 text-sm border-l-2 border-yellow-400 pl-2"> Order German version
                  from <a href="https://www.isa.org/store/products/product-detail/?productId=115964"
                    class="text-blue-500">ISA</a> <a
                    href="https://www.isa.org/store/iec-61499-function-blocks-for-embedded-and-distributed-control-systems-design,-third-edition/44072595"
                    class="text-blue-500">bookstore</a>, or <a
                    href="http://www.amazon.com/Function-Entwurf-Eingebetteten-Verteilten-Systemen/dp/0876640447/ref=sr_1_3?s=books&ie=UTF8&qid=1416035437&sr=1-3"
                    class="text-blue-500">Amazon</a></p>

              </div>
            </div>
          </div>
        </div>

        <div class="lg:w-4/5 lg:mx-20 my-8 sm:w-auto">
          <div class="p-4 bg-white border border-gray-200 shadow-md">
            <div class="flex flex-wrap">
              <div class="lg:w-1/5 sm:w-auto">
                <img class="h-48" src=".././media/Real-Time-Execution_by_Zoitl.gif">
              </div>
              <div class="lg:w-3/4 sm:w-auto">
                <p class="text-xl text-gray-700 mb-4"> Alois Zoitl</p>
                <p class="text-sm text-gray-700 mb-4">Real-Time Execution for IEC 61499,<br>
                  Instrumentation Society of America, USA,<br>
                  July 2009.</p>
                <p class="text-gray-700 text-sm border-l-2 border-yellow-400 pl-2 mb-4">Order via
                  <a href="https://www.isa.org/store/products/product-detail/?productId=115964"
                    class="text-blue-500">ISA</a> <a
                    href="https://www.isa.org/store/iec-61499-function-blocks-for-embedded-and-distributed-control-systems-design,-third-edition/44072595"
                    class="text-blue-500">bookstore</a>

                </p>

              </div>
            </div>
          </div>
        </div>


        <div class="lg:w-4/5 lg:mx-20 my-8 sm:w-auto">
          <div class="p-4 bg-white border border-gray-200 shadow-md">
            <div class="flex flex-wrap">
              <div class="lg:w-1/5 sm:w-auto">
                <img class="h-48" src=".././media/book_zoitl_lewis_amazon.jpg">
              </div>
              <div class="lg:w-3/4 sm:w-auto">
                <p class="text-xl text-gray-700 mb-4"> Alois Zoitl and Robert Lewis</p>
                <p class="text-sm text-gray-700 mb-4">Modeling control systems using IEC 61499, Applying function blocks
                  to distributed systems,
                  Control Engineering Series 59,
                  The Institution of Electrical Engineers, London
                  July 2001.</p>
                <p class="text-gray-700 text-sm border-l-2 border-yellow-400 pl-2 mb-4">Order via
                  <a href="https://www.isa.org/store/products/product-detail/?productId=115964"
                    class="text-blue-500">ISA</a> <a
                    href="https://www.isa.org/store/iec-61499-function-blocks-for-embedded-and-distributed-control-systems-design,-third-edition/44072595"
                    class="text-blue-500">bookstore</a>

                </p>

              </div>
            </div>
          </div>
        </div>

        <div class="lg:w-4/5 lg:mx-20 my-8 sm:w-auto">
          <div class="p-4 bg-white border border-gray-200 shadow-md">
            <div class="flex flex-wrap">
              <div class="lg:w-1/5 sm:w-auto">
                <img class="h-48" src=".././media/roop.jpg">
              </div>
              <div class="lg:w-3/4 sm:w-auto">
                <p class="text-xl text-gray-700 mb-4"> Li Hsien Yoong, Partha S. Roop, Zeeshan E. Bhatti, Matthew M. Y.
                  Kuo:</p>
                <p class="text-sm text-gray-700 mb-4">Model-Driven Design Using IEC 61499 A Synchronous Approach for
                  Embedded and Automation Systems, Springer, 2014
                </p>
                <p class="text-gray-700 text-sm border-l-2 border-yellow-400 pl-2 mb-4">Order via
                  <a href="https://www.isa.org/store/products/product-detail/?productId=115964"
                    class="text-blue-500">ISA</a> <a
                    href="https://www.isa.org/store/iec-61499-function-blocks-for-embedded-and-distributed-control-systems-design,-third-edition/44072595"
                    class="text-blue-500">bookstore</a>

                </p>
              </div>
            </div>
          </div>
        </div>
      </main>


      <main class="w-full flex-grow p-6 ">
        <p class="text-2xl text-gray-700 mb-4">Forum</p>
        <a class="text-blue-500 text-sm"
          href="https://groups.google.com/forum/#%21forum/fbdk">https://groups.google.com/forum/#!forum/fbdk</a>
      </main>






      <footer class="w-full border-t flex flex-col border border-gray-400 bg-white">

        <main class="w-full flex-grow p-4 ">


          <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2">
              <p class="text-xl flex items-center ">

                <p class="text-gray-700 text-xl mb-4">Follow Us</p>
              </p>
              <div class="leading-loose ml-3">
                <i class="fab fa-twitter mr-6 text-gray-700"></i>
                <i class="fab fa-facebook-f mr-6 text-gray-700"></i>
                <i class="fab fa-linkedin mr-6 text-gray-700"></i>
                <i class="fab fa-instagram text-gray-700"></i>
              </div>
            </div>
            <div class="w-full lg:w-1/2 mt-6 pl-0 lg:pl-2">
              <p class="text-xl flex items-center">

                <p class="text-gray-700 text-xl">Contact</p>
              </p>
              <div class="leading-loose">
                <p class="text-xs text-gray-700">Tel:</p>
                <p class="text-xs text-gray-700">Email:</p>
                <p class="text-xs text-gray-700">Office:</p>
                <p class="text-xs text-gray-700">Get directions:</p>
              </div>
            </div>
          </div>


        </main>

      </footer>
    </div>




    <!--Modal-->
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

      <div
        class="modal-container bg-white w-11/12 md:max-w-xs mx-auto rounded shadow-lg z-50 overflow-y-auto border-t-2">

        <div
          class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
          <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 18 18">
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
            </path>
          </svg>
          <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
          <!--Title-->
          <div class="flex justify-between items-center pb-3">
            <p class="text-2xl text-gray-700">Login</p>
            <div class="modal-close cursor-pointer z-50">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
              </svg>
            </div>
          </div>

          <!--Body-->
          <!-- <div class="leading-loose"> -->
          <form class="bg-white" method="post" action="{{BASE_URL}}/login/">
            <div class="mb-4">
              {% csrf_token %}
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="email" id="username" type="email" placeholder="Email">
            </div>
            <div class="mb-6">

              <input
                class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                name="password" id="password" type="password" placeholder="Password">
              <a class="modal-open-forget inline-block float-right align-baseline text-sm text-blue-500 hover:text-blue-800"
                href="#">
                Forgot Password?
              </a>
              <!-- <p class="text-red-500 text-xs italic">Please choose a password.</p> -->
            </div>
            <div class="flex items-center justify-between d-block">
              <button
                class="loginButton d-block w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Login
              </button>
            </div>
            <div class="text-xs mt-4">New to IEC61499?<a class="modal-open-sign
             loginBtn">&nbsp;&nbsp;Signup</a></div>
          </form>

        </div>
      </div>
    </div>

    <!---sign up modal-->
    <div
      class="modal-sign opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="modal-overlay-sign absolute w-full h-full bg-gray-900 opacity-50"></div>

      <div
        class="modal-container bg-white w-11/12 md:max-w-xs mx-auto rounded shadow-lg z-50 overflow-y-auto border-t-2">

        <div
          class="modal-close-sign absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
          <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 18 18">
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
            </path>
          </svg>
          <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
          <!--Title-->
          <div class="flex justify-between items-center pb-3">
            <p class="text-2xl text-gray-700">Signup</p>
            <div class="modal-close-sign cursor-pointer z-50">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
              </svg>
            </div>
          </div>

          <!--Body-->
          <!-- <div class="leading-loose"> -->
          <form class="bg-white" method="post" action="{{BASE_URL}}/register/">
            <div class="mb-4">
              {% csrf_token %}
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="name" id="username" type="text" placeholder="Full Name">
            </div>
            <div class="mb-4">
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="mb-6">
              <input
                class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                name="password1" id="password" type="password" placeholder="Password">
            </div>
            <div class="mb-6">
              <input
                class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                name="password2" id="password" type="password" placeholder="Confirm Password">
            </div>
            <div class="flex items-center justify-between d-block">
              <button
                class="loginButton d-block w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Signup
              </button>
            </div>
            <div class="text-xs mt-4">Already have an account? <a class="modal-open loginBtn"
                onclick="openLoginModal()">Login</a></div>
          </form>
        </div>
      </div>
    </div>

    <!---forget up modal-->
    <div
      class="modal-forget opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
      <div class="modal-overlay-forget absolute w-full h-full bg-gray-900 opacity-50"></div>

      <div
        class="modal-container bg-white w-11/12 md:max-w-md h-64 mx-auto rounded shadow-lg z-50 overflow-y-auto border-t-2">

        <div
          class="modal-close-forget absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
          <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 18 18">
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
            </path>
          </svg>
          <span class="text-sm">(Esc)</span>
        </div>

        <div class="modal-content py-4 text-left px-6">
          <div class="flex justify-between items-center pb-3">
            <p class="text-2xl text-gray-700">Forgot Password</p>
            <div class="modal-close-forget cursor-pointer z-50">
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
              </svg>
            </div>
          </div>

          <form class="bg-white" method="post" action="{{BASE_URL}}/send_email/">

            <div class="mb-4">
              {%csrf_token%}
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="flex items-center justify-between d-block">
              <button
                class="loginButton d-block w-full bg-blue-500  text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Forget password
              </button>
            </div>
            <div class="text-xs mt-4">Already have an account? <a class="loginBtn modal-open">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>


    <script>
      function openLoginModal() {
        toggleModalSignUp()
        toggleModal()
      }
      function hightlightActiveRoute() {
        const pageRoutes = document.getElementsByClassName("pageRoutes");
        let routesArray = { "/": 0, "/news/": 1, "/projects/": 2, "/publications/": 3, "/tools/": 4, "/resources/": 5, "/imprint/": 6 };
        if (pageRoutes.length > 0) {
          let activeRoute = pageRoutes[routesArray[window.location.pathname]];
          activeRoute.className += " active-nav-link";
        }
      }

      //for modal
      var openmodal = document.querySelectorAll('.modal-open')
      for (var i = 0; i < openmodal.length; i++) {
        openmodal[i].addEventListener('click', function (event) {
          event.preventDefault()
          toggleModal()
        })
      }

      var openmodalSign = document.querySelectorAll('.modal-open-sign')
      for (var i = 0; i < openmodalSign.length; i++) {
        openmodalSign[i].addEventListener('click', function (event) {
          event.preventDefault()
          toggleModalSignUp()
        })
      }

      var openmodalForget = document.querySelectorAll('.modal-open-forget')
      for (var i = 0; i < openmodalForget.length; i++) {
        openmodalForget[i].addEventListener('click', function (event) {
          event.preventDefault()
          toggleModalForget()
        })
      }

      const overlay = document.querySelector('.modal-overlay')
      overlay.addEventListener('click', toggleModal)

      const overlay_sign = document.querySelector('.modal-overlay-sign')
      overlay_sign.addEventListener('click', toggleModalSignUp)

      const overlay_forget = document.querySelector('.modal-overlay-forget')
      overlay_sign.addEventListener('click', toggleModalForget)

      var closemodal = document.querySelectorAll('.modal-close')
      for (var i = 0; i < closemodal.length; i++) {
        closemodal[i].addEventListener('click', toggleModal)
      }

      var closemodal_sign = document.querySelectorAll('.modal-close-sign')
      for (var i = 0; i < closemodal_sign.length; i++) {
        closemodal_sign[i].addEventListener('click', toggleModalSignUp)
      }

      var closemodal_forget = document.querySelectorAll('.modal-close-forget')
      for (var i = 0; i < closemodal_forget.length; i++) {
        closemodal_forget[i].addEventListener('click', toggleModalForget)
      }

      document.onkeydown = function (evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
          isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
          isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-active')) {
          toggleModal()
        }
      };

      document.onkeydown = function (evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
          isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
          isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-active-sign')) {
          toggleModalSignUp()
        }
      };

      document.onkeydown = function (evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
          isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
          isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-active-forget')) {
          toggleModalForget()
        }
      };


      function toggleModal() {
        const body = document.querySelector('body')
        const modal = document.querySelector('.modal')
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
      }

      function toggleModalSignUp() {
        const body = document.querySelector('body')
        const modal = document.querySelector('.modal-sign')
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active-sign')
      }

      function toggleModalForget() {
        const body = document.querySelector('body')
        const modal = document.querySelector('.modal-forget')
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active-forget')
      }

    </script>
</body>

</html>